<div>
  <app-navbar></app-navbar>
</div>

<div *ngIf="employees.length > 0">

  <h2>Employee List</h2>
  <ul class="list-group">
    <li *ngFor="let employee of employees" class="list-group-item d-flex justify-content-between align-items-center" >
      <app-employee-card [employees]="employee"></app-employee-card>
      <button class="btn btn-danger" (click)="deleteEmployeefunction(employee)" >Delete</button>
    </li>
  </ul>
</div>

<div *ngIf="employees.length === 0">
  <p>No employees found.</p>
</div>
